table td{
size: 10px;
border: 1px solid darkblue;
padding: 7px;
}



#APP{
	display: flex;
	background-color: whitesmoke;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin-left: 25%;
	margin-right: 25%;
	border-style: solid;
	border-color: darkblue;
	border-width: 3px;

}

#op_turno{
align-content: none;
margin-left: 2px;
}


#eliminar_turno{
align-items: flex-end;
margin-right: 2px;
padding-right: 7px;
padding-left: 7px;
border-style: solid;
border-color: darkblue;
border-width: 3px;

}


#edit_medico{
align-items: flex-start;
margin-top: 10%;
padding-right: 7px;
padding-left: 7px;
border-style: solid;
border-color: darkblue;
border-width: 3px;
margin-bottom: 5%;
}